<app-navbar></app-navbar>
<app-hero></app-hero>

<div class="row row-cols3 parent">
        <div class="div1"> 
            <div class="card">
                <div class="card-body">
                  <h5 class="card-title">{{name1}}</h5>
                  <p class="card-text">Our special offer for {{name1}} vacation!</p>
                  <p class="card-text">You are going to visit {{city1}} and there you stay {{nights1}} nights.</p>
                  <p class="card-text">We offer you the price: {{price1}} EUR</p>
                </div>
            </div>
        </div>
        <div class="div2"> 
            <div class="card">
                <div class="card-body">
                  <h5 class="card-title">{{name2}}</h5>
                  <p class="card-text">Our special offer for {{name2}} vacation!</p>
                  <p class="card-text">You are going to visit {{city2}} and there you stay {{nights2}} nights.</p>
                  <p class="card-text">We offer you the price: {{price2}} EUR</p>
                </div>
            </div>
        </div>
        <div class="div3"> 
            <div class="card">
                <div class="card-body">
                  <h5 class="card-title">{{name3}}</h5>
                  <p class="card-text">Our special offer for {{name3}} vacation!</p>
                  <p class="card-text">You are going to visit {{city3}} and there you stay {{nights3}} nights.</p>
                  <p class="card-text">We offer you the price: {{price3}} EUR</p>
                </div>
            </div>
        </div>
        <div class="div4"> 
            <div class="card">
                <div class="card-body">
                  <h5 class="card-title">{{name4}}</h5>
                  <p class="card-text">Our special offer for {{name4}} vacation!</p>
                  <p class="card-text">You are going to visit {{city4}} and there you stay {{nights4}} nights.</p>
                  <p class="card-text">We offer you the price: {{price4}} EUR</p>
                </div>
            </div>
        </div>
        <div class="div5"> 
            <div class="card">
                <div class="card-body">
                  <h5 class="card-title">{{name5}}</h5>
                  <p class="card-text">Our special offer for {{name5}} vacation!</p>
                  <p class="card-text">You are going to visit {{city5}} and there you stay {{nights5}} nights.</p>
                  <p class="card-text">We offer you the price: {{price5}} EUR</p>
                </div>
            </div>
        </div>
        <div class="div6"> 
            <div class="card">
                <div class="card-body">
                  <h5 class="card-title">{{name6}}</h5>
                  <p class="card-text">Our special offer for {{name6}} vacation!</p>
                  <p class="card-text">You are going to visit {{city6}} and there you stay {{nights6}} nights.</p>
                  <p class="card-text">We offer you the price: {{price6}} EUR</p>
                </div>
            </div>
        </div>   
</div>
