<head>
    <link rel="stylesheet" href="hero.component.css">
</head>

<div class="container-fluid hero">
    <app-navbar></app-navbar>
    <div class="container border border-danger text-center text-light py-5 my-5">
        <h1>We are your ultimative <br> Winter experience Provider!</h1>
        <p>With hundreds of Winter holiday destinations offered, we are your <br> natural choice for planning it all out!</p>
        <button type="button" class="btn btn-outline-light mt-5">Learn more</button>
    </div>
</div>