.hero {
    background-image: url(../images/hero1.jpg);
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: 0 16%;
}

.hero-text {
    position: relative;
    top: 15%;
}