.hero {
    display: flex;
    background: url("https://images.rawpixel.com/image_1000/czNmcy1wcml2YXRlL3Jhd3BpeGVsX2ltYWdlcy93ZWJzaXRlX2NvbnRlbnQvbHIvcm0zMzgtczc0LXBsb3ktMTIuanBn.jpg")
    no-repeat center;
    background-size: cover; 
    position: relative;
    width: 100%;
    height: 12cm;
}

.mycontainer {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-left: 70%;
    margin-top: 5%;
    position: absolute;
}

