.first-section {
    background-color: #385e94;
    color: white;
}

.icon {
    font-size: 1.5rem;
    padding: 1rem;
    border: 0.5px solid white;
    border-radius: 50%;
    margin-bottom: 1rem;
}

.icon-def {
    font-size: 0.7rem;
}