<!--Section 1-->
<div class="container-fluid text-center py-5 first-section">
    <h2 class="my-5">Why We're the Best</h2>
    <p>___</p>


    <div class="d-flex flex-row my-5 justify-content-center">
        <div class="p-2">
            <i class="fa-solid fa-house icon"></i>
            <h6>Accomodation</h6>
            <p>__</p>
            <p class="icon-def">We offer the finest selection <br> of hotels anywhere</p>
        </div>
        <div class="p-2">
            <i class="fa-solid fa-plane-up icon"></i>
            <h6>Transportation</h6>
            <p>__</p>
            <p class="icon-def">Wether it's about air tickets <br> or shuttle bus, we will set it up!</p>
        </div>
        <div class="p-2">
            <i class="fa-solid fa-user-group icon"></i>
            <h6>Seasoned Agents</h6>
            <p>__</p>
            <p class="icon-def">Combined the experience our Agents <br> have is centuries!</p>
        </div>
        <div class="p-2">
            <i class="fa-solid fa-star icon"></i>
            <h6>Easy Trip Planning</h6>
            <p>__</p>
            <p class="icon-def">Our travel agents are always ready <br> to plan your trip!</p>
        </div>
    </div>
</div>


<!--Section 2-->
<div class="second-section text-center pt-5">
    <div class="section-content">
        <h2>Best Winter Trips</h2>
        <p>___</p>


        <div class=" text-center image-container ">
            <div class="row">
                <div class="col-6 columns item1">

                    <h3 class="destination">Jasna, Slovenia</h3>

                </div>
                <div class="col-6 columns item2">
                    <h3 class="destination">Lapland, Finland</h3>

                </div>
            </div>
            <div class="row">
                <div class="col-6 columns item3">
                    <h3 class="destination">Neuschneher, Austria</h3>

                </div>
                <div class="col-6 columns item4">
                    <h3 class="destination">Abisko, Sweden</h3>

                </div>
            </div>

        </div>
    </div>
</div>